<section>
    <%= render partial: 'ideas/form', locals: { submit: "UPDATE IDEA"} %>
    <a class="btn btn-default btn-cancel" href='/'>CANCEL</a>  
</section>

<section>
  <p>      
    <% if signed_in? %>
     <%= link_to "Sign Out", signout_path, method: "delete" %>
    <% end %>
  </p>
</section>