<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone requested a password reset for this account at IdeaMachine.</h1>
    <p>
      To reset your password just follow <%= link_to "this link here", @url %>.
    </p> 
    <p>If you believe you received this in error, please contact us.</p>
    <p>-The IdeaMachine Robot</p>
  </body>
</html>