<section>
  <h1>Sign up</h1>
  <div>
    <%= render 'form' %>
    <p>Exisitng user? <%= link_to "Sign In!", signin_path %></p>
    <p>Your email will ONLY ever be used for password resets.</p>
  </div>
</section>