<section>
  <h4>Enter in your email or username for a reset password email.</h4>

  <div>
    <%= form_for(:auth, url: forgot_password_path) do |f| %>

      <%= f.text_field :email_or_username, placeholder: "Email or Username" %>

      <%= f.submit "Reset Password", class: "btn btn-primary" %>
    <% end %>

    <p><%= link_to "Go Back to Sign In", signin_path %> </p> 
  </div>
</section>